<DOCTYPE html>
<html lang="es">
<head>
	<meta charset='UTF-8'>
	<meta title='TAPIRUS-LEVANTAMIENTO DE POZOS'>
	<link rel="stylesheet" type="text/css" href="./css/base.css">
</head>
<body>
<header class="cabecera">
	<figure>
		<img id="imglogo" src="./images/logo.jpg">
		<figcaption id="textocab">
		<h1 >"TAPIRUS S.A"</h1>
		<small>AQUI EL SLOGAN DE LA EMPRESA</small>
	</figcaption>
	</figure>
</header>
<label class="usuario"><strong>Usuario:</strong> Nombre de usuario</label>
<section class="contenido">

</section>

</body>
