<DOCTYPE html>
<html lang="es">
<head>
	<meta charset='UTF-8'>
	<meta title='TAPIRUS-LEVANTAMIENTO DE POZOS'>
	<link rel="stylesheet" type="text/css" href="./css/base.css">
</head>
<body>

<section class="menu">
	<a href="#" class="menuopcion">
		<figure >
			<img src="./images/logo.jpg" class="imgmenu">
			<figcaption class="txtmenu">FICHAS</figcaption>
		</figure>
	</a>

	<a href="#" class="menuopcion">
		<figure >
			<img src="./images/logo.jpg" class="imgmenu">
			<figcaption class="txtmenu">USUARIOS</figcaption>
		</figure>
	</a>

	<a href="#" class="menuopcion">
		<figure >
			<img src="./images/logo.jpg" class="imgmenu">
			<figcaption class="txtmenu">OPCION 3</figcaption>
		</figure>
	</a>

	<a href="#" class="menuopcion">
		<figure >
			<img src="./images/logo.jpg" class="imgmenu">
			<figcaption class="txtmenu">OPCION 4</figcaption>
		</figure>
	</a>


</section>

</body>