/*BASE*/
body{
	/*background-color: rgba(153,153,102,0.8);
	background-color: #F0FFF0;*/
	font-size: 16px;
}


#imglogo{
	border-radius: 50%;
	height: 50px;
	width:	50px;

}


#imglogo, #textocab{
	display: inline-block;
	vertical-align: middle;
}

#textocab{
	font-size: 14px;
	margin: 0 1% 0 2%;
	line-height:  0;
}

.logout{
	
	border: 2px solid #FF0033;
	border-radius: 0.3em;
	color: #FF0033;
	float: right;
	font-size: 1.1em;
	margin-right: 2em;
	padding: 0.2em;
	text-decoration: none;
}

.logout:hover{
	background-color: #FF0033;
	color: #FFFFFF;
}

.login{
	color: blue;
	font-size: 1.1em;
}

.titulopagina{
	text-align: center;
}

.cabecera{
	background-color: rgba(153,153,102,0.8);
	border-radius: 0.5em;
	color: #D2691E;
	display: inline-block;
	margin: 0.5em auto;
	text-align: center;
	width: 100%;
}

.campoform{
	margin: 0.8em;
	text-align: center;
	width: 90%;
}

.campoform section input,
.campoform section select{
	font-size: 1.3em;
	margin: 0.3em;
	width: 90%;
}

.campoform label{
	display: block;
	margin: 0.3em;
	width: 90%;
}


.menuprincipal{
	color: #FFFFFF;
	margin: 0.5em auto;
	width: 95%;
}

.menuprincipal a{
	display: inline-block;
	font-size: 1.2em;
	overflow: hidden;
	margin-right: 1%;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	text-align: center;
	text-decoration: none;
	width: 20%;
}

.menuprincipal a:hover{
	background-color: rgba(99,99,99, 0.8);
	border-radius: 0.2em; 
	color: white;
	transform: rotate(-5deg);
	transition: all 1s ease;	
}




/*Ficha*/

#checkedlist{
	
	border-radius: 50%;
	display: inline-block;
	margin: 0.5em 0.2em;
	width: 90%;	
}

#coordenadas{
	margin-top: 1em;
	padding: 0.5em;
	width: 90%;
}

#fichacabecera{
	margin-top: 1em;
	padding: 0.5em;
	width: 90%;
}

#fichacombos{
	margin-top: 1em;
	padding: 0.5em;
	width: 90%;
}

#medidas{
	margin-top: 1em;
	padding: 0.5em;
	width: 90%;
}


#observaciones{
	margin-top: 1em;
	width: 90%;
}


#accordion h3{
	color: #D2691E;
	text-align: center;}

.chkficha p input{
	display: inline-block;
	margin-left: 1em;
	margin-bottom: 1em;
	padding-left: 1em;
}

.chkficha p label{
	display: inline-block;	
	margin-left: 2em;
	margin-bottom: 1em;
}



/*USUARIO*/


/*RESPONSIVE DESING*/

/*FICHA*/
@media screen and (min-width: 600px) {

.campoform{
	text-align: right;
}

.campoform section input,
.campoform section select,
.campoform section label
{
	display: inline-block;
	width: 45%;
}

}




