/*BASE*/
body{
	/*background-color: rgba(153,153,102,0.8);
	background-color: #F0FFF0;*/
	font-size: 16px;
}


#imglogo{
	border-radius: 50%;
	height: 50px;
	width:	50px;

}


#imglogo, #textocab{
	display: inline-block;
	vertical-align: middle;
}

#textocab{
	font-size: 14px;
	margin: 0 1% 0 2%;
	line-height:  0;
}

.btnguardar{
	border: 1px solid blue;
	background-color: #FFFFFF;
	border-radius: 	0.25em;
	color:blue;
	display: block;
	font-size: 1.3em;
	margin: 0.5em auto;
	padding: 0.3em;	
	text-align: center;
	width: 15%;
}

.btnguardar:hover{
	background-color: blue;
	color:#FFFFFF;
}

.iniciaficha a{

	border: 1px solid blue;
	background-color: #FFFFFF;
	border-radius: 	0.25em;
	color:blue;
	display: block;
	font-size: 1.3em;
	margin: 0.5em auto;
	padding: 0.3em;
	text-align: center;
	text-decoration: none;
	width: 20%;
}

.iniciaficha a:hover{
	background-color: blue;
	color:#FFFFFF;
}

.logout{
	
	border: 2px solid #FF0033;
	border-radius: 0.3em;
	color: #FF0033;
	float: right;
	font-size: 1.1em;
	margin-right: 2em;
	padding: 0.2em;
	text-decoration: none;
}

.logout:hover{
	background-color: #FF0033;
	color: #FFFFFF;
}

.login{
	color: blue;
	font-size: 1.1em;
}

.titulopagina{
	text-align: center;
}

.cabecera{
	background-color: rgba(153,153,102,0.8);
	border-radius: 0.5em;
	color: #D2691E;
	display: inline-block;
	margin: 0.5em auto;
	text-align: center;
	width: 100%;
}

.campoform{
	margin: 0.8em;
	text-align: center;
	width: 90%;
}

.campoform section input,
.campoform section select{
	font-size: 1.3em;
	margin: 0.3em;
	width: 90%;
}

.campoform label{
	display: block;
	margin: 0.3em;
	width: 90%;
}


.menuprincipal{
	color: #FFFFFF;
	margin: 0.5em auto;
	width: 95%;
}

.menuprincipal a{
	color: #FFFFFF;
	font-size: 1.2em;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
}

.menuprincipal ul li{
	display: inline-block;
	font-size: 1.2em;
	overflow: hidden;
	margin-right: 3%;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	text-align: center;
	text-decoration: none;
	
}

.menuprincipal ul li:hover{
	background-color: rgba(99,99,99, 0.8);
	border-radius: 0.2em; 
	color: white;
	transform: rotate(-5deg);
	transition: all 1s ease;	
}




/*Ficha*/

#checkedlist{
	
	border-radius: 50%;
	display: inline-block;
	margin: 0.5em 0.2em;
	width: 90%;	
}

#coordenadas{
	margin-top: 1em;
	padding: 0.5em;
	width: 90%;
}

#fichacabecera{
	margin-top: 1em;
	padding: 0.5em;
	width: 90%;
}

#fichacombos{
	margin-top: 1em;
	padding: 0.5em;
	width: 90%;
}

#medidas{
	margin-top: 1em;
	padding: 0.5em;
	width: 90%;
}


#observaciones{
	margin-top: 1em;
	width: 90%;
}


#accordion h3{
	color: #D2691E;
	text-align: center;}

.chkficha p input{
	display: inline-block;
	margin-left: 1em;
	margin-bottom: 1em;
	padding-left: 1em;
}

.chkficha p label{
	display: inline-block;	
	margin-left: 2em;
	margin-bottom: 1em;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #23527c;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.pager {
  padding-left: 0;
  margin: 20px 0;
  list-style: none;
  text-align: center;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777777;
  background-color: #ffffff;
  cursor: not-allowed;
}

.listado{
	overflow: auto;
}
table 
{
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Futura, Arial, sans-serif;
    font-size: 12px;
    overflow: scroll;
    vertical-align: center; 
    width: 65%;
}
th, td 
{ 
	padding: .10em; 
}
th, thead 
{ 
	background: #747373; color: #000; 
}
td 
{
	border: 1px solid #000;
	text-align: center;
	vertical-align: center;
}
th 
{
    background: linear-gradient(#ccc,##777);
}
th:first-child 
{ 
	border-radius: 9px 0 0 0; 
}
th:last-child 
{ 
	border-radius: 0 9px 0 0; 
}
tr input, tr a{
	color: black;
	font-size: 1.5em;
	padding: 0.3em;
	margin:0.2em;
	text-decoration: none;
}

tr:last-child td:first-child 
{ 
	border-radius: 0 0 0 9px; 
}
tr:last-child td:last-child 
{ 
	border-radius: 0 0 9px 0; 
}
tr:nth-child(odd) 
{ 
	background: #ccc; 
}
tbody tr:hover 
{ 
	background: rgba(0,0,0,0.8); 
  	color: #747373;
  	cursor: pointer; 
	opacity: 1.0;
}


#tablareporte 
{
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}
#tablareporte th 
{
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
#tablareporte td 
{
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}

.container-fluid{
	text-align: center;
}

.clsauthremember{
	display: block;
	text-align: center;
	width: 100%;
}

.btningreso{
	font-size: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.fuenteingreso{
	font-size: 1.5em;
}
/*USUARIO*/


/*RESPONSIVE DESING*/

/*FICHA*/
@media screen and (min-width: 600px) {

.campoform{
	text-align: right;
}

.campoform section input,
.campoform section select,
.campoform section label
{
	display: inline-block;
	width: 45%;
}

}




