/*BASE*/
body{
	background-color: rgba(153,153,102,0.8);
	font-size: 14px;
}

#imglogo{
	border-radius: 0.25em;
	height: 50px;
	width:	50px;

}


#imglogo, #textocab{
	display: inline-block;
	vertical-align: middle;
}

#textocab{
	margin: 0 1% 0 2%;
	line-height:  0;
}

.cabecera{
	background-color: rgba(150,120,80,0.7);
	border-style: 1px solid black;
	box-shadow: 2px 2px 2px;
	display: inline-block;
	margin: 0.5em auto;
	text-align: center;
	width: 96%;
}

.imgmenu{
	border-radius: 0.5em;
	height: 100px;
	margin: auto;
	width: 100px;
}

.menuprincipal{
	background-color: rgba(153,153,102,0.8);
	border-radius: 0.3em;
	margin: 0.5em auto;
	width: 90%;
}

.menuprincipal a{
	display: inline-block;
	font-size: 1.2em;
	overflow: hidden;
	padding: 1%;
	text-align: center;
	text-decoration: none;
	width: 22%;
}

.menuprincipal a:hover{
	background-color: rgba(99,99,99, 0.8);
	border-radius: 0.2em; 
	color: white;	
}


/*USUARIO*/

.campoform{
	width: 60%;
}

.etiquetaform{
	margin-top: 0.3em; 
	width: 45%;
}

.etiquetaform, .campoform{
	display: inline-block;
}

.valorcampo{
	width: 45%;
}